@media screen and (max-width: 1600px)
/*  hébergements populaires */
{ 
  .populaires{
      width: 96%;
  }

  .RoomPopulaires{
      display: flex;
  }

  .cartePopulaires{
      height: 82%;
  }
   
  #hebergements{
      width: 96%;
      margin-left: 10px;
  }
  
}

/*largeur max 900px */

@media all and (max-width: 900px){ 
  .header{
    height: 140px;
    flex-wrap: wrap-reverse;
    padding-left: 0px;
    padding-right: 0px; 
}

.hebergements-Activites{
    width: 100%;
}

#logoReservia{
  position: absolute;
  top: 20px;
  left: 20px;
  width: 120px;
}

.inscription{
  margin-right: 20px;
}

.border-Top-heb2{
    border-bottom: 2px solid #0065fc;
    border-top-style: none;
    width: 100%;
}

.border-Top-heb{
  width: 100%;
}

.border-Top-heb2 a{
    align-items: flex-start;
}

.border-Top-acti2{
    border-bottom: 2px solid #f2f2f2;
    border-top-style: none;
    width: 100%;
}

.border-Top-acti{
    width: 100%;
}

.border-Top-acti2 a{
    align-items: flex-start;
}

.border-Top-acti2:hover{
    border-bottom: 2px solid #0065fc;
    border-top-style:none;
}

/* Section rechercher */ 

  .filtres{
      flex-wrap: wrap;
  }

  .filtres-title{
      width: 80%;
  }

  .filtre-Search a{
      margin-top: 10px;
  }


/* Section hebergements */

.section-Hebergements{
    flex-direction: column-reverse;
    width: 100%; 
    justify-content: center;
    align-items: center;
}

#hebergements{
    width: 96%;  
    padding: 0px;   
}

.header-Hebergements h2{
  padding-left: 20px;
}

.header-Hebergements{
    height: 70px;
}

.afficherplus{
    height: 40px;
}

.Room-carte {
    width: 42%;
    margin: 10px 20px 10px 20px;
}

/* Section populaires */

.populaires{
    margin-left: 0px;
    width: 96%;
    height: 600px;
    padding: 0px;
}

.RoomPopulaires{
    display: flex;
}

.Populaire-titre{
  padding-left: 20px;
}

.header-Populaires p{
    padding-right: 20px;
}

.imageCartePopulaires img{
    height: 100%;
    border-radius: 15px 15px 0px 0px;
    width: 100%;
}
.mobilecarte
{ 
  height: 130px;
  object-fit: cover;
}
.mobilecarte2
{ 
  height: 105px;
  object-fit: cover;
}

.cartePopulaire{
    width: 28%;
}

.cartePopulaire a{
    flex-direction: column;
}

.descriptionPopulaires h3{
    font-size: 0.9em;
  }

.descriptionPopulaires p{
    font-size: 1em;
  }
  .starPopulaires{
    margin-top: 10px;
  }
}
@media all and (max-width: 900px) and (min-width: 375px){
.descriptionPopulaires{
    width: 90%;
    height: 100px;
}
.starPopulaires{
  margin-top: 40px;
  color: #0065fc;
  height: 40%;
  display: flex;
  align-items: flex-end;
}

/* Section activités */

  .section-Activites{
      width: 100%;
      padding: 0px;
  }

  .Acti-title{
      padding-left: 0px;
  }

  .carte-Acti1{
      width: 45%;
      height: 587px;
  }
  .mobilecarteacti
  {
    height: 190px;
    object-fit: cover;
  }

  .imageacti1 img{
      height: 500px;
  }

  .imageacti2 img{
      height: 200px;
  }

  .image-Fort img{
      height: 270px;
  }

  .image-Frioul img{
      height: 131px;
  }

  .descriptionactiv1{
      height: 80px;
  }

  .descriptionactiv2{
      height: 80px;
  }

  .acti2{
      width: 45%;
  }
}

/* Footer */
@media all and (max-width: 900px){
  .FooterFonction{
      flex-direction: column;
  }

  .FooterFonction ul{
      font-size: 1em;
  }
}

@media all and (max-width: 900px){

  

  .inscription a{
      font-size: 0.8em;
  }
  .hebergementsActivites a{
      font-size: 0.8em;
  }  

/* section recherche */

  .section-Recherche h1{
      font-size: 1.2em;
  }

  .section-Recherche p{
      font-size: 0.8em;
  }

  .section-Recherche{
      margin-bottom: 0px;
  }

  .section-Recherche{
      height: 80px;
  }

  .icon-map{
      height: 36px;
      width: 36px;
      font-size: 1em;
  }

  .button1{
      height: 38px;
      padding: 0px 10px 0px 10px;       
  }

  .button2{
      position: relative;
      right: 8px;
      border-radius: 10px;
      height: 38px;
      width: 40px;
      font-size: 1em;
  }

  .button2search{
      display: none;
      
  }

  .filtres{
      font-size: 0.8em;
  }

  .Information{
      font-size: 0.8em;
  }
}

/* Aside populaires */
@media all and (max-width: 900px){
  .populaires{
      border-radius: 0px;
      width: 100%;
  }

  .titrePopulaires h2{
      font-size: 1.2em;
  }

  .RoomPopulaires{
      flex-direction: column;
      align-items: center;
  }

  .cartePopulaires{
      width: 86%;
  }

  .cartePopulaires a{
      flex-direction: row;
  }

  .imageCartePopulaires img{
      border-radius: 15px 0px 0px 15px;
  }
  
  .descriptionPopulaires{
      width: 90%;
      height: 100px;
  }
}
/* Fin aside populaires */
/* Partie hébergements */
@media all and (max-width: 900px){
  #hebergements{
      background: none;
      width: 100%;
      margin: 0px;
  }

  .header-Hebergements h2{
      font-size: 1.2em;
  }

  .header-Hebergements{
      padding-left: 0px;
  }

  .Room-carte{
      width: 100%;
  }

  .description h3{   
      font-size: 1em; 
  }

  .description p{
      font-size: 0.8em;
  }
}
/* Fin partie hébergements */
/* Fin section hébergements */
/* Section activités */
@media all and (max-width: 900px){
  .Acti-title h2{
      font-size: 1.2em;
      padding-left: 20px;
  }

  .section-Activites{
      flex-direction: column;
      padding: 0px;
      margin-top: 20px;
      width: 100%;
  }

  .carte-Acti1{
      width: 88%;
      height: 15%;
      margin-left: 20px;
      margin-right: 20px;       
  }

  .imageacti1 img{
      height: 200px;
  }

  .image-Fort img{
      height: 200px;
  }

  .image-Frioul img{
      height: 200px;
  }

  .acti2{
      width: 88%;
      margin-left: 20px;
      margin-right: 20px;
  }
}
/* Fin section activités */
/* Footer body */
@media all and (max-width: 900px){
  .FooterContainer{
      width: 100%;
      font-size: 0.6em;
  }

  .FooterFonction ul{
      width: 80%;
      margin-right: 0px;
      margin-left: 0px;
  }
}

@media all and (min-width: 900px) {
  .button2 i{
    display: none;
  }
  }
  
  @media all and (min-width: 900px){
  .border-Top-acti2:hover{
      border-top: 2px solid #0065fc;
  }
}


